<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners><listener class-name="Listener.TestListener"/></listeners>
  <test thread-count="5" name="Test">
    <classes>
     <class name="Admin.delete" >
     <methods>
     <include name= "PV_LayerManagement_01()" />
     <include name= "PV_LayerManagement_02()" />
     <include name= "PV_LayerManagement_03()" />
     <include name= "PV_LayerManagement_04()" />
     <include name= "PV_LayerManagement_05()" />
     <include name= "PV_LayerManagement_06()" />
     <include name= "PV_LayerManagement_07()" />
     <include name= "PV_LayerManagement_08()" />
     <include name= "PV_LayerManagement_09()" />
     <include name= "PV_LayerManagement_10()" />
     <include name= "PV_LayerManagement_11()" />
     <include name= "PV_LayerManagement_12()" />
     <include name= "PV_LayerManagement_13()" />
     <include name= "PV_LayerManagement_14()" />
     <include name= "PV_LayerManagement_15()" />
     <include name= "PV_LayerManagement_16()" />
     <include name= "PV_LayerManagement_17()" />
     <include name= "PV_LayerManagement_18()" />
     <include name= "PV_LayerManagement_19()" />
     <include name= "PV_LayerManagement_20()" />
     <include name= "PV_LayerManagement_21()" />
     <include name= "PV_LayerManagement_22()" />
     <include name= "PV_LayerManagement_23()" />
     <include name= "PV_LayerManagement_24()" />
     <include name= "PV_LayerManagement_25()" />
     <include name= "PV_LayerManagement_26()" />
     <include name= "PV_LayerManagement_27()" />
     <include name= "PV_LayerManagement_28()" />
     <include name= "PV_LayerManagement_29()" />
     <include name= "PV_LayerManagement_30()" />
     <include name= "PV_LayerManagement_31()" />
     <include name= "PV_LayerManagement_32()" />
     <include name= "PV_LayerManagement_33()" />
     <include name= "PV_LayerManagement_34()" />
     <include name= "PV_LayerManagement_35()" />
     <include name= "PV_LayerManagement_36()" />
     <include name= "PV_LayerManagement_37()" />
     </methods>
     
     </class>
    
      <!--  <class name="Application_Pages.Home_Page"> 
     <methods>
       <include name="DSCL_HOME_01" />
       <include name="DSCL_HOME_02" />
       <include name="DSCL_HOME_03" />
       <include name="DSCL_HOME_04" />
       <include name="DSCL_HOME_05" />
       <include name="DSCL_HOME_06" />
       </methods>
      </class> 
        <class name="Application_Pages.Sign_In_Page">
       <methods>
       <include name="DSCL_SignIn_01" />
       <include name="DSCL_SignIn_02" />
       <include name="DSCL_SignIn_03" />
       <include name="DSCL_SignIn_04" />
       <include name="DSCL_SignIn_05" />
       <include name="DSCL_SignIn_06" />
       <include name="DSCL_SignIn_07" />
       <include name="DSCL_SignIn_08" />
       </methods>
       </class> 
        <class name="Application_Pages.Sign_Up_Page">
       <methods>
       <include name="DSCL_SignUp_01" />
       <include name="DSCL_SignUp_02" />
       <include name="DSCL_SignUp_06" />
       <include name="DSCL_SignUp_07" />
       <include name="DSCL_SignUp_08" />
       <include name="DSCL_SignUp_17" />
       <include name="DSCL_SignUp_18" />
       </methods>
       </class> 
       <class name="Application_Pages.Forgot_Password_Page">
        <methods>
       <include name="DSCL_ForgotPassword_1" />
       <include name="DSCL_ForgotPassword_2" />
       <include name="DSCL_ForgotPassword_3" />
       <include name="DSCL_ForgotPassword_4" />
       <include name="DSCL_ForgotPassword_5" />
       </methods>
       </class> 
       <class name="Application_Pages.About_DSCL">
       <methods>
       <include name="DSCL_About_DSCL_1" />
       <include name="DSCL_About_DSCL_2" />
       <include name="DSCL_About_DSCL_3" />
       </methods>
       </class> 
       
      <class name="Admin.User_Management">
       <methods>
       <include name="DSCL_Admin_UserManagement_01" />
       <include name="DSCL_Admin_UserManagement_02" />
       <include name="DSCL_Admin_UserManagement_03" />
       <include name="DSCL_Admin_UserManagement_04" />
       <include name="DSCL_Admin_UserManagement_05" />
       <include name="DSCL_Admin_UserManagement_06" />
       <include name="DSCL_Admin_UserManagement_07" />
       <include name="DSCL_Admin_UserManagement_08" />
       <include name="DSCL_Admin_UserManagement_09" />
       <include name="DSCL_Admin_UserManagement_10" />
       <include name="DSCL_Admin_UserManagement_11" />
       <include name="DSCL_Admin_UserManagement_12" />
       <include name="DSCL_Admin_UserManagement_13" />
       <include name="DSCL_Admin_UserManagement_14" />
       <include name="DSCL_Admin_UserManagement_15" />
       <include name="DSCL_Admin_UserManagement_16" />
       <include name="DSCL_Admin_UserManagement_17" />
       <include name="DSCL_Admin_UserManagement_18" />
       <include name="DSCL_Admin_UserManagement_19" />
       <include name="DSCL_Admin_UserManagement_20" />
       <include name="DSCL_Admin_UserManagement_21" />
       <include name="DSCL_Admin_UserManagement_22" />
       <include name="DSCL_Admin_UserManagement_23" />
       <include name="DSCL_Admin_UserManagement_24" />
       <include name="DSCL_Admin_UserManagement_25" />
       <include name="DSCL_Admin_UserManagement_26" />
       <include name="DSCL_Admin_UserManagement_27" />
       <include name="DSCL_Admin_UserManagement_28" />
       <include name="DSCL_Admin_UserManagement_29" />
       <include name="DSCL_Admin_UserManagement_30" />
       <include name="DSCL_Admin_UserManagement_31" />
       <include name="DSCL_Admin_UserManagement_32" />
       <include name="DSCL_Admin_UserManagement_33" />
       <include name="DSCL_Admin_UserManagement_34" />
       <include name="DSCL_Admin_UserManagement_35" />
       <include name="DSCL_Admin_UserManagement_36" />
       <include name="DSCL_Admin_UserManagement_37" />
       <include name="DSCL_Admin_UserManagement_39" />
       <include name="DSCL_Admin_UserManagement_40" />
       <include name="DSCL_Admin_UserManagement_41" />
       <include name="DSCL_Admin_UserManagement_42" />
       <include name="DSCL_Admin_UserManagement_43" />
       <include name="DSCL_Admin_UserManagement_44" />
       <include name="DSCL_Admin_UserManagement_45" />
       <include name="DSCL_Admin_UserManagement_46" />
       <include name="DSCL_Admin_UserManagement_47" />
       <include name="DSCL_Admin_UserManagement_48" />
       <include name="DSCL_Admin_UserManagement_50" />
       <include name="DSCL_Admin_UserManagement_51" />
       <include name="DSCL_Admin_UserManagement_52" />
       <include name="DSCL_Admin_UserManagement_53" />
       <include name="DSCL_Admin_UserManagement_54" />
       <include name="DSCL_Admin_UserManagement_55" />
       <include name="DSCL_Admin_UserManagement_56" />
       <include name="DSCL_Admin_UserManagement_57" />
       <include name="DSCL_Admin_UserManagement_58" />
       <include name="DSCL_Admin_UserManagement_59" />
       <include name="DSCL_Admin_UserManagement_60" />
       <include name="DSCL_Admin_UserManagement_61" />
       <include name="DSCL_Admin_UserManagement_62" />
       <include name="DSCL_Admin_UserManagement_63" />
       <include name="DSCL_Admin_UserManagement_64" />
       <include name="DSCL_Admin_UserManagement_65" />
       <include name="DSCL_Admin_UserManagement_66" />
       <include name="DSCL_Admin_UserManagement_67" />
       <include name="DSCL_Admin_UserManagement_68" />
       <include name="DSCL_Admin_UserManagement_69" />
       <include name="DSCL_Admin_UserManagement_70" />
       <include name="DSCL_Admin_UserManagement_71" />
       <include name="DSCL_Admin_UserManagement_72" />
       <include name="DSCL_Admin_UserManagement_73" />
       <include name="DSCL_Admin_UserManagement_74" />

       </methods>
        </class>  
       <class name="City_GIS_Map.City_GIS">
       <methods>
       <include name="DSCL_CityGIS_01" />
       <include name="DSCL_CityGIS_02" />
       <include name="DSCL_CityGIS_03" />
       <include name="DSCL_CityGIS_04" />
       <include name="DSCL_CityGIS_05" />
       <include name="DSCL_CityGIS_06" />
       <include name="DSCL_CityGIS_07" />
       <include name="DSCL_CityGIS_08" />
       <include name="DSCL_CityGIS_09" />
       <include name="DSCL_CityGIS_10" />
       <include name="DSCL_CityGIS_11" />
       <include name="DSCL_CityGIS_12" />
       <include name="DSCL_CityGIS_13" />
       <include name="DSCL_CityGIS_14" />
       <include name="DSCL_CityGIS_15" />
       <include name="DSCL_CityGIS_16" />
       <include name="DSCL_CityGIS_17" />
       <include name="DSCL_CityGIS_18" />
       <include name="DSCL_CityGIS_19" />
       <include name="DSCL_CityGIS_20" />
       <include name="DSCL_CityGIS_21" />
       <include name="DSCL_CityGIS_22" />
       <include name="DSCL_CityGIS_23" />
       <include name="DSCL_CityGIS_24" />
       <include name="DSCL_CityGIS_25" />
       <include name="DSCL_CityGIS_26" />
       <include name="DSCL_CityGIS_27" />
       <include name="DSCL_CityGIS_28" />
       <include name="DSCL_CityGIS_29" />
       <include name="DSCL_CityGIS_30" />
       <include name="DSCL_CityGIS_31" />
       <include name="DSCL_CityGIS_32" />
       <include name="DSCL_CityGIS_33" />
       <include name="DSCL_CityGIS_34" />
       <include name="DSCL_CityGIS_35" />
       <include name="DSCL_CityGIS_36" />
       <include name="DSCL_CityGIS_37" />
       <include name="DSCL_CityGIS_39" />
       <include name="DSCL_CityGIS_40" />
       <include name="DSCL_CityGIS_41" />
       <include name="DSCL_CityGIS_42" />
       <include name="DSCL_CityGIS_43" />
       <include name="DSCL_CityGIS_44" />
       <include name="DSCL_CityGIS_45" />
       <include name="DSCL_CityGIS_46" />
       <include name="DSCL_CityGIS_47" />
       <include name="DSCL_CityGIS_48" />
       <include name="DSCL_CityGIS_50" />
       <include name="DSCL_CityGIS_51" />
       <include name="DSCL_CityGIS_52" />
       <include name="DSCL_CityGIS_53" />
       <include name="DSCL_CityGIS_54" />
       <include name="DSCL_CityGIS_55" />
       <include name="DSCL_CityGIS_56" />
       <include name="DSCL_CityGIS_57" />
       <include name="DSCL_CityGIS_58" />
       <include name="DSCL_CityGIS_59" />
       <include name="DSCL_CityGIS_60" />
       <include name="DSCL_CityGIS_61" />
       <include name="DSCL_CityGIS_62" />
       <include name="DSCL_CityGIS_63" />
       <include name="DSCL_CityGIS_64" />
       <include name="DSCL_CityGIS_65" />
       <include name="DSCL_CityGIS_66" />
       <include name="DSCL_CityGIS_67" />
       <include name="DSCL_CityGIS_68" />
       <include name="DSCL_CityGIS_69" />
       <include name="DSCL_CityGIS_70" />
       <include name="DSCL_CityGIS_71" />
       <include name="DSCL_CityGIS_72" />
       <include name="DSCL_CityGIS_73" />
       <include name="DSCL_CityGIS_74" />
       <include name="DSCL_CityGIS_75" />
       <include name="DSCL_CityGIS_76" />
       <include name="DSCL_CityGIS_77" />
       <include name="DSCL_CityGIS_78" />
       <include name="DSCL_CityGIS_79" />
       <include name="DSCL_CityGIS_80" />
       <include name="DSCL_CityGIS_81" />
       <include name="DSCL_CityGIS_82" />
       <include name="DSCL_CityGIS_83" />
       <include name="DSCL_CityGIS_84" />
       <include name="DSCL_CityGIS_85" />
       <include name="DSCL_CityGIS_86" />
       </methods>
        </class> 
      <class name="Dept_City_GIS_Page.City_GIS_1"></class>   -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
        