<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners><listener class-name="Listener.TestListener"/></listeners>
  <test thread-count="5" name="Test">
    <classes>
 
     <class name="Admin.User_Management" />
     <!-- <class name="Application_Pages.Home_Page"/> 
    
      <class name="Application_Pages.Sign_In_Page"/>
      <class name="Application_Pages.Sign_Up_Page"/>
      <class name="Application_Pages.Forgot_Password_Page"/>  -->
  <!--  <class name="City_GIS_Map.City_GIS"> -->
   <!-- <methods>
   <include name= "SGL_Ranchi_CITYGIS_148()" /> 
   </methods> -->
   <!-- </class> -->
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
